// note: no img assets required for layout

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/backgrounds/scala.jpg) fixed no-repeat;
  	letter-spacing: 1px;
}

.full-height{
	height: 100% !important;
}

.bg-color-medlight{
	~.app-page-container{
		.full-height{
			background: rgba(255, 255, 255, 0.64);
		}
	}
}

.article-title{
	padding: 20px 25px;
}

.main-content{
	padding: 0 25px;
}
