// theme

.app-header {
	padding: 0;
	border: 0; // no border, otherwise other elements' height can only be ($l_header_height -1)
	text-align: center;

	.app-header-inner {
		height: $l_header_height;
		box-shadow: $header_box_shadow;
	}
	@media only screen and (min-width: $l_screen_md_min) {
		text-align: inherit;
	}

	&.bg-transparent {
		background-color: transparent !important;
	}

	.brand {
		display: inline-block;
		text-align: center;
		float: left; // becasue of alignment problem with md-button in .top-nav-left

		h2 {
			font-size: 30px;
			margin: 0;
			line-height: $l_header_height;
		}
	}

	.header-icon {
		display: inline-block;
		height: $l_header_height;
		padding: ( ($l_header_height - $header_line_height)/2 ) 14px;
		@media only screen and (min-width: $l_screen_md_min) {
			padding-left: 18px;
			padding-right: 18px;
		}

		.material-icons {
			font-size: 24px;
		}
	}
}

.top-nav-left,
.top-nav-right {
	> ul > .list-inline-item {
		margin: 0;
		padding: 0;
	}
}

.top-nav-left {
	display: inline-block;

	> ul {
		display: inline;
		margin: 0;
	}
}
.header-left{
	position:relative;
	left: $l_sidebar_width - 16px;
	ul{
		margin-bottom:0;
		> li{
			> div{
				button{
					> div{
						> .material-icons{
							position:relative;
							top:8px;
						}
					}
				}
			}
		}
	}
}
.header-right {
	font-size: 16px;
	line-height: $header_line_height;
	padding: 0 25px;
	ul {
		margin: 0;
	}
	//
	li {
		height: $l_header_height;
		float: left;
		padding-left:20px;
		padding-right:30px;
		border-right: 1px solid $color3;
		border-left: 1px solid $color3;
		.dropdown-icon{
			position:relative;
			top: 5px;
    		left: 5px;
		}
	}
	.collapsedpanel-toggler{
		padding-left:0px;
		padding-right:0px;
		border-left: 1px solid $color3;
		a{
			padding: 18px 0px;
			width: 60px;
			height: $l_header_height;
			text-align: center;
			display: inline-block;
			.material-icons{
				font-size:25px;
			}
		}
	}
	.open-search{
		padding-left:0px;
		padding-right:5px;
		a{
			padding: 18px 0px;
			width: 60px;
			height: $l_header_height;
			text-align: center;
			display: inline-block;
			.material-icons{
				font-size:25px;
			}
		}
	}

	a {
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}


}
.bg-color-meddark{
	.autocomplete{
		z-index:1030;
		> div{
			color: $color1 !important;
			position:relative;
			top:18px;
		}
		input[type="text"]{
			color: $color1 !important;
			position:relative;
			top:5px;
			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder{
				color: $color1;
			}
		}
	}
	p, i, span, em, ul, li{
		color: $color1;
	}
}
