.quickpanel{
    bottom: 0;
    top: 0px;
    height: 100vh; // Fix(Safari): Fix sidebar fail to on safari
	width:300px;
    .quickpanel-header {
        line-height: 60px;
        padding: 18px;
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
        text-align:center;
    }
}
