$reverse: #fff;
$font-size-small: 12px;
$screen-sm: 768px;

.body-auth {
	background-color: $body-bg;
	// background: url('#{$image_path}/background/1.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.page-auth,
.page-forgot,
.page-login,
.page-signup {
	height: 100vh;
	width:100%;
    overflow: hidden;
    margin: 0 !important;
	.main-body {
		-webkit-box-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	    box-sizing: border-box;
		padding: 145px 0 0 130px;
		@media (min-width: map-get($grid-breakpoints, md)) {

		}
		.brand-login{
			.logo{
				width:450px;
				margin-bottom: 60px;
				img{
					width:100%;
				}
			}
			h2{
				&.title{
					color:$color1;
				}
			}
		}
	}
	.auth-area{
		width:450px;
	    padding: 128px 48px 48px;
		.auth-area-wrapper{
			height: 100vh;
			.logo{
				display:none;
			}
			.title, .description{
				margin:0 auto 15px;
			}
			input{
				margin:20px auto;
			}
			.remember-me{
				margin: 20px auto;
				div{
					padding:0;
				}
				div:first-child{
					text-align:left;
				}
				div:last-child{
					text-align:right;
					label{
						margin-left:-20px;
					}
				}
			}
			.sign-up{
				margin:15px auto;
				text-align:center;
			}
		}
	}
}
